@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
        @apply bg-[#e50914] text-white sm:px-4 px-2 rounded-md font-semibold items-center grid  w-fit justify-self-end text-sm h-7 lg:text-lg sm:h-9 
    }
    .input{
        @apply rounded-md w-full bg-[#333333] p-4
    }
    .accordionBtn{
        @apply flex w-full justify-between items-center py-5 px-8 pb-5  outline-none 
    } 
}

